 0.0%Error while parsing headersOther error? -1

Using the latest continuous build on Deepin 15.4:

```
me@host:~$ chmod +x Downloads/zsync2-continuous-x86_64.AppImage 
me@host:~$ Downloads/zsync2-continuous-x86_64.AppImage https://github.com/TheAssassin/zsync2/releases/download/continuous/zsync2-continuous-x86_64.AppImage.zsync
https://github.com/TheAssassin/zsync2/releases/download/continuous/zsync2-continuous-x86_64.AppImage.zsync
Usable data from seed files: 0.000000%
Renaming temp file
Fetching remaining blocks
Downloading from https://github.com/TheAssassin/zsync2/releases/download/continuous/zsync2-continuous-x86_64.AppImage

-------------------- 0.0%Error while parsing headersOther error? -1
-1 returned
-------------------- 0.0% 0.0 kBps aborted    

failed to retrieve from zsync2-continuous-x86_64.AppImage, status -1
```

Just tried to update `cryptomator-1.4.1-x86_64.AppImage` using the latest AppImageUpdate snapshow version and got the same error:

```
sebastian@linux-mint:~/Downloads$ ./AppImageUpdate-x86_64.AppImage 
AppImageUpdate version 1-alpha (commit 6f2d028), build 400 built on 2019-02-07 22:44:08 UTC
Updating from Bintray via ZSync
zsync2: Target file: /home/sebastian/Downloads/cryptomator-1.4.3-x86_64.AppImage
zsync2: Reading seed file: /home/sebastian/Downloads/cryptomator-1.4.1-x86_64.AppImage
zsync2: Usable data from seed files: 49,298165%
zsync2: Renaming temp file
zsync2: Fetching remaining blocks
zsync2: Downloading from https://dl.bintray.com/cryptomator/cryptomator/cryptomator-1.4.3-x86_64.AppImage
Error while parsing headersOther error? -1
```

What does this error mean? Is my zsync file malformed?

In your case, the `.zsync` file has already been downloaded, otherwise we wouldn't know how much can be used from the local data. It crashed while trying to make range requests to the AppImage. This is quite strange.

Re. AppImageLauncher, please open an issue over there, that makes managing issues much easier for us, and they can be worked on more quickly.

Can you retry with `export CURLOPT_VERBOSE=1`?

@overheadhunter Bintray broke/disabled range requests, the server doesn't reply properly any more. Not our fault, neither your fault, they are to blame.

@probonopd you have some contacts there, would you like to talk to them please?

> Bintray broke/disabled range requests, the server doesn't reply properly any more.

According to [RFC 7233, Section 4.4](https://tools.ietf.org/html/rfc7233#section-4.4) you can not rely on the server supporting range requests:

> Note: Because servers are free to ignore Range, many implementations will simply respond with the entire selected representation in a 200 (OK) response.

While this is sad and I love AppImages for being able to load just the delta, the update mechanism _must_ be prepared to deal with "200" responses and just silently load the whole file.

Maybe log a message suggesting that the update mechanism isn't as efficient due to the server's lacking support for range requests - so the AppImage's maintainer is informed about this and may choose a better server (or contact the hoster's customer support^^).

Well, not good style, but if the standard even thinks it's okay...

Okay, let's try to fix the problem in AppImageUpdate. I'd say it's good enough to "just download" the entire file instead of trying to be overly smart and abort after all ranges have been fetched.